@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tomb_Raider';
    src: url('../fonts/Tomb_Raider.ttf') format('truetype');
}

body {
    background-color: #e0e0e0;
}


.nav-top {
    position: fixed;
    height: 35px;
    width: 100%;
    background-color: #303030;
    padding: 5px;
    z-index: 1000;
}

.top-picture {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.logo {
    font-family: BebasNeue-Regular;
    font-weight: bold;
    font-size: 22px;
}

    .logo a {
        color: #fff;
        text-decoration: none;
    }

.company-name {
    color: #fff;
}

.top-menu {
    color: #fff;
}

.nav-left {
    position: fixed;
    margin-top: 35px;
    height: 100%;
    width: 250px;
    background: #14222d;
    padding-top: 10px;
    text-align: center;
    z-index: 1000;
}

    .nav-left img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: solid 3px #fff;
        text-align: center;
        align-items: center;
        cursor: pointer;
    }

    .nav-left span a {
        color: #fff;
        display: block;
        align-items: center;
        margin-top: 10px;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-left ul {
        list-style-type: none;
        padding-left: 0px;
        text-align: left;
    }

        .nav-left ul li {
            border-top: solid 1px #ffffff08;
            border-bottom: solid 1px #00000008;
            width: 100%;
            min-height: 39px;
            background: linear-gradient(#00000008,#ffffff08);
            font-size: 14px;
            cursor: pointer;
            position: relative;
            display: block;
            line-height: 39px;
        }

            .nav-left ul li a {
                text-decoration: none;
                color: #c5c5c5;
                padding-right: 140px;
                padding-top: 10px;
                padding-bottom: 9px;
                padding-left: 10px;
            }

                .nav-left ul li a:hover {
                    color: #fff;
                }

    .nav-left label {
        color: #fff;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        text-shadow: 2px 1px 2px #000000;
    }

    .nav-left .submenu {
        display: none;
    }

    .nav-left ul li ul li {
        background: none;
        border: none;
        padding-left: 20px;
    }

        .nav-left ul li ul li:hover {
            animation: white-fade 1s;
        }

.content {
    width: calc(100% - 250px);
    height: calc(100% - 35px);
    margin-left: 250px;
    margin-top: 35px;
    position: absolute;
    padding: 10px;
}

.z_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

.z_panel-title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
}

.z_panel-content {
    padding: 0 5px 6px;
    float: left;
    clear: both;
    margin-top: 5px;
    width: 100%;
}

.row {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.general-actions {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-menu {
    width: 140px;
    min-height: 50px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    position: absolute;
    color: #303030;
    list-style: none;
    margin: 0;
    padding: 5px 10px 5px 10px;
    display: none;
}

    .user-menu li {
        margin: 0;
        text-align: left;
        border-bottom: solid 1px rgba(0, 0, 0, 0.15);
        padding: 5px 10px 5px 5px;
        transition: all 0.5s;
    }

        .user-menu li a {
            color: #303030 !important;
        }

        .user-menu li:hover {
            background-color: rgba(0, 0, 0, 0.10);
            cursor: pointer;
        }

        .user-menu li:active {
            background-color: rgba(0, 0, 0, 0.20);
            cursor: pointer;
        }

#userMenu a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}


.profile-details img {
    width: 50%;
}

.profile-details h1 {
    font-size: 23px;
    margin: 10px 0px 0px 0px;
}

.profile-details h2 {
    font-size: 15px;
    margin-top: 10px;
}


.clear-color {
    color: #77879c;
}

.z_breadcumb {
    width: 100%;
    background-color: #f3f3f3;
    margin: 15px 0px 15px 0px;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border-radius: 2px;
}

    .z_breadcumb a {
        color: #2e2e2e;
        text-decoration: none;
        transition: all 0.3s;
    }

        .z_breadcumb a:hover {
            color: #de2424;
        }


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-bottom: 0;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 23px;
        width: 23px;
        left: 2px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.default-label {
    font-size: 20px;
}

.image-prev {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
    border-radius: 3px;
}
