@model ZaghiniAdmin.Models.sectionitem

@{
    ViewBag.Title = "Delete Item";
}

<div class="z_breadcumb">
    <a href="#">Section Items</a><i class="fa fa-angle-double-right fa-fw"></i><a href="#">Delete</a>
</div>

<div class="z_panel">
    <div class="z_panel-title">
        <h4>Delete Section Item</h4>
        <div class="clearfix"></div>
    </div>
    <div class="z_panel-content">
        <h3>Are you sure you want to delete this?</h3>
        <dl class="dl-horizontal">
            <dt>
                Section
            </dt>

            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        }
    </div>
</div>
